.table{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.table input{
    width: 100%;
    height: 55px;
    font-size: 55px;
    border: 4px solid #cccccc;
}
.calc-button{
    width: 33%;
    height: 63px;
    font-size: 20px;
}
.text{
    color: green;
}